AutoPilot-OA-Configuration_Management/concepts/xsd/Configuration-Item.xsd

<xsd:schema elementFormDefault="qualified" targetNamespace="AutoPilot-OA-Configuration_Management" xmlns:xsd="http://www.w3.org/2000/10/XMLSchema">
  <xsd:element name="Configuration-Item"/>
  <xsd:complexType name="Configuration-ItemType">
    <xsd:annotation>
      <xsd:documentation>Represents a configuration item.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="account-code">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="vm-creation-time">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="vm-system-identifier">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="vm-system-type">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="vm-actual-provision-date">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="vm-expiry-date">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="vm-decommission-date">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="token-id">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <maxLength value="30"/>
            </xsd:restriction>
          </xsd:simpleType>
      </xsd:element>
      <xsd:element name="cd-machine-id">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <maxLength value="30"/>
            </xsd:restriction>
          </xsd:simpleType>
      </xsd:element>
      <xsd:element name="mark-as-deleted">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <maxLength value="30"/>
            </xsd:restriction>
          </xsd:simpleType>
      </xsd:element>
      <xsd:element name="serial-number">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="primary-capability">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="is-virtual">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="account-id">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="acquired-method">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="activity-type">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="actual-cost">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="actual-finish">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="actual-start">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="address">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="address2">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="address-type">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="administrator-organization">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="administrator-person">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="administrator-workgroup">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="alias">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="altitude">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="asset-class">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="asset-id">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="assigned-to">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="author">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="availability">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="available-date">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="book-value">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="budget-code">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="build-number">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="business-category">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="capacity">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="category">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="chargeback-code">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="child-configuration-items">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="city">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
<!--  The following is used as match criteria in LMS Delete Item(s) -->
      <xsd:element name="class-name">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="closure-code">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="cluster-type">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="common-name">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="company">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="confidentiality">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="configuration-output">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="configuration">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="configuration-workorders">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="connectivity-status">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="connectivity-type">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
<!--  The following is used as match criteria in LMS Delete Item(s) -->
      <xsd:element name="continue">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="cost">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="cost-center">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="cost-type">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="country">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="creation-date" type="xsd:date"/>
      <xsd:element name="current-state">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="dataset-id">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
<!--  The following is used as match criteria in LMS Delete Item(s) -->
      <xsd:element name="date-1">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
<!--  The following is used as match criteria in LMS Delete Item(s) -->
      <xsd:element name="date-2">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="debug-level">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="delete-trigger">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="deleted">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="department">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="depreciated">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="description">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="details">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="disposal-date" type="xsd:date"/>
      <xsd:element name="document-date" type="xsd:date"/>
      <xsd:element name="document-status">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="document-type">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
<!--  The following is used as match criteria in LMS Delete Item(s) -->
      <xsd:element name="domain">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="email">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="exploration-date" type="xsd:date"/>
      <xsd:element name="file-name">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
<!--  The following is used as match criteria in LMS Delete Item(s) -->
      <xsd:element name="first-name">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="fixed">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="fixed-asset">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="floor">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="folder">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="group-addresses">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="history">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="hop">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
<!--  The following is used as match criteria in LMS Delete Item(s) -->
      <xsd:element name="host-name">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="hot-swappable">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="id">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="impact">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="information">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="input">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="installation-date" type="xsd:date"/>
      <xsd:element name="instance-id">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="interconnect">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="interconnect-address">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="inventory">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="invoice-number">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="ip-address">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="item">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="itsm-org">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="keywords">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="lan-id">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="last-modified-by">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
<!--  The following is used as match criteria in LMS Delete Item(s) -->
      <xsd:element name="last-name">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="local-class-id">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="locale">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="logs">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="mac-address">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="mail-stop">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="managed-by-service">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="manufacturer">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="manufacturer-id">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="mark-as-deleted">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="market-value">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="max-clock-speed">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="max-number-of-nodes">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="memory-type">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="model">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="modified-date" type="xsd:date"/>
      <xsd:element name="name">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="name-2">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="network-id">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="notes">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="order-id">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="order-number">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="organization">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="person-department">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="outage">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="outsourced-to">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="owner">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="owner-contact">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="owner-organization">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="owner-person">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="parent-configuration-items">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="part-number">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="person-department">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="phone-number">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="periodic-outage">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="phone-number">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="physical-position">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="planned-cost">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="planned-finish">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="planned-start">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="pnp-device-id">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="port-number">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="postal-code">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="pri-id">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="priority">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="processor-architecture">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="processor-family">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="processor-status">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="processor-type">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="product-category">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="project-number">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="protocol">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="purchase-cost">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="creation-date" type="xsd:date"/>
      <xsd:element name="pwr-mgt-capability">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="pwr-mgt-supported">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="quantity">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="received-date" type="xsd:date"/>
      <xsd:element name="reconciliation-id">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="reference-id">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="region">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="related-configurations">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="removable">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="replaceable">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="requisition-id">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="return-date">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="return-receipt">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="room">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="sales-tax">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="schedule">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="schedule-type">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="search-code">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="serial-number">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="service">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="service-level">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="service-pack">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="short-description">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="site">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="site-group">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="sn-name">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="sn-socket-address">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="solution">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="speed">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="spoc">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="state">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="status">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="status-history">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="status-reason">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="submitter">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="subnet-mask">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="subnet-number">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="supplier">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="supplier-id">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="supported">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="supported-by-service">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="system-availability">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="system-class-id">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="system-name">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="system-role">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="tag-number">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="target">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="time-zone">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
<!--  The following is used as match criteria in LMS Delete Item(s) -->
      <xsd:element name="total-physical-memory">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="type">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="unique">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="unit-price">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="upgrade-method">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="urgency">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="uri">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="user-count">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="users">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="users-affected">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="vendor-application">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="version">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
<!-- The following are used for Hosted System Components Schema in Remedy ARS -->
      <xsd:element name="destination-class-name">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="destination-name">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="destination-classid">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="destination-datasetid">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="destination-instanceid">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="destination-reconciliationidentity">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="source-class-name">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="source-name">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="source-classid">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="source-datasetid">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="source-instanceid">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="source-reconciliationidentity">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
<!--  The following is used as match criteria in LMS Delete Item(s) -->
      <xsd:element name="version-1">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
<!--  The following is used as match criteria in LMS Delete Item(s) -->
      <xsd:element name="version-2">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="view">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="wait-for-workorder-completion">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="warranty-date" type="xsd:date"/>
      <xsd:element name="web-page">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="workaround">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="workorders">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
<!--  The following is used by HPSC ComputerSystems -->
      <xsd:element name="additional-manufacturer">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="additional-name">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="additional-type">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="additional-description">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="255"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="assigned-group">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="bios-id">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="bios-manufacturer">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="bios-model">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="building">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="configuration-item-sub-type">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="configuration-item">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="configuration-item-type">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="connection-name">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="connection-type">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="connection-default-gateway">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="connection-dhcp">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="connection-description">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="connection-speed">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="connection-media-interface">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="contact-name">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="critical">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="driver-name">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="driver-type">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="driver-description">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="driver-version">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="feature-id">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="feature-size">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="feature-description">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="keyboard-manufacturer">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="keyboard-model">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="keyboard-type">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="keyboard-connection">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="keyboard-features">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="location">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="location-code">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="logical-drive-name">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="logical-media">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="logical-free-space">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="logical-volume-type">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="logical-volume-size">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="os-name">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="os-version">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="physical-id">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="physical-manufacturer">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="physical-model">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="physical-type">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="physical-sectors">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="physical-heads">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="physical-cylinders">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="physical-size">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="physical-serial-number">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="point-manufacturer">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="point-model">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="point-type">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="point-buttons">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="point-driver">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="port-name">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="port-label">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="port-connectivity">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="printer-server-name">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="printer-manufacturer">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="printer-model">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="printer-driver-name">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="printer-driver-model">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="processor-id">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="processor-name">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="processor-manufacturer">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="processor-max-speed">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="processor-model">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="scan-date">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="scan-type">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="scan-version">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="scan-result">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="support-contact-reason">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="support-contact-name">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="support-contact-phone-number">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="sys-mod-time">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="sys-mod-user">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="sys-mod-count">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="updated-by">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="usb-manufacturer">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="usb-model">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="usb-type">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="usb-version">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="usb-class">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="usb-ports">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="usb-speed">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="usb-controller">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="vendor">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="video-card-id">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="video-card-bios">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="video-manufacturer">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="video-model">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="video-chip-type">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="video-memory">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="video-resolution">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="video-resolution-x">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="video-resolution-y">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="slot-description">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
<!--  The following is used by HPSC Network Device -->
      <xsd:element name="connection-device-id">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="parent-device">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="slot-description">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="slot-inuse">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="slot-no">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="slot-protocol">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
<!--  The following is used by HPSC Contact -->
      <xsd:element name="employee-id">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="shift">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="work-phone">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="extension">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="home-phone">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="mobile-phone">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="manager">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="contract-id">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="critical-user">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="requires-entitlement">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="full-name">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
