Closed_Loop_Server-SA-Audit/concepts/xsd/BladeLogicNotification.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="Closed_Loop_Server-SA-Audit" elementFormDefault="qualified">
<xsd:element name="BladeLogicNotification" type="BladeLogicNotificationType" />
  <xsd:complexType name="BladeLogicNotificationType">
    <xsd:annotation>
      <xsd:documentation>Represents metadata specifying the Blade Logic Notification</xsd:documentation>
    </xsd:annotation>    
   <xsd:simpleType name="jobresult-type">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="10007" />
      <xsd:enumeration value="10008" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="objecttype-type">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="1" />
      <xsd:enumeration value="2" />
      <xsd:enumeration value="4" />
      <xsd:enumeration value="8" />
      <xsd:enumeration value="16" />
      <xsd:enumeration value="32" />
      <xsd:enumeration value="64" />
      <xsd:enumeration value="128" />
      <xsd:enumeration value="256" />
    </xsd:restriction>
  </xsd:simpleType>
    <xsd:sequence>
      <xsd:element name="alert-type" type="xsd:string" />
      <xsd:element name="host" type="xsd:string" />
      <xsd:element name="sysuptime" type="xsd:string" />
      <xsd:element name="generic-trap-type" type="xsd:string" />
      <xsd:element name="specific-trap-type" type="xsd:string" />
      <xsd:element name="jc-job-name" type="xsd:string" />
      <xsd:element name="jc-start-time" type="xsd:string" />
      <xsd:element name="jc-end-time" type="xsd:string" />
      <xsd:element name="jc-overall-status" type="xsd:string" />
      <xsd:element name="jc-exit-code" type="xsd:string" />
      <xsd:element name="jc-group-id" type="xsd:string" />
      <xsd:element name="jc-run-id" type="xsd:string" />
      <xsd:element name="jc-type-id" type="xsd:string" />
      <xsd:element name="ar-cons-type" type="jobresult-type" />
      <xsd:element name="ar-obj-type" type="objecttype-type" />
      <xsd:element name="ar-os-type" type="xsd:string" />
      <xsd:element name="rat-date" type="xsd:string" />
      <xsd:element name="rat-role-name" type="xsd:string" />
      <xsd:element name="rat-user-name" type="xsd:string" />
      <xsd:element name="rat-object-type" type="xsd:string" />
      <xsd:element name="rat-object-name" type="xsd:string" />
      <xsd:element name="rat-authorization-action" type="xsd:string" />
      <xsd:element name="rat-action-status" type="xsd:string" />
      <xsd:element name="rat-message" type="xsd:string" />
      <xsd:element name="cr-cons-type" type="xsd:string" />
      <xsd:element name="cr-template-name" type="xsd:string" />
      <xsd:element name="cr-rule-name" type="xsd:string" />
      <xsd:element name="at-user-name" type="xsd:string" />
      <xsd:element name="at-host-name" type="xsd:string" />
      <xsd:element name="at-command-string" type="xsd:string" />
      <xsd:element name="at-time-occurred" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
