AutoPilot-OA-Problem_Management/concepts/xsd/KnownError.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2000/10/XMLSchema" targetNamespace="AutoPilot-OA-Problem_Management" elementFormDefault="qualified">
  <xsd:element name="KnownError" />
  <xsd:complexType name="KnownErrorType">
    <xsd:annotation>
      <xsd:documentation>Represents a knownerror.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="request-id" type="xsd:integer" />
      <xsd:element name="known-error-id">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="configuration-item">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="assigned-group">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
	<xsd:element name="assignee">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
	<xsd:element name="known-error-status">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="status-reason">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="impact">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="description">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="255" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="priority">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="priority-weight">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="assigned-support-org">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="company">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
	<xsd:element name="searchable">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
	<xsd:element name="category">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="urgency">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
	<xsd:element name="action">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="assigned-support-company">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="product-cat-tier1">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="product-cat-tier2">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="product-cat-tier3">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="product-name">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="product-model-version">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="manufacturer">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
	<xsd:element name="categorization-tier1">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="categorization-tier2">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="categorization-tier3">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
	<xsd:element name="generic-categorization-tier1">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
	<xsd:element name="temporary-workaround">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="255" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
	<xsd:element name="resolution">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="255" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="worklog-details">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="activity-type">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="secure-log">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="view-access">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="details-log">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="activity-date">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="communications-source">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="detailed-description">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="Assigned-Group-Pblm-Mgr">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="60" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="Support-Organization-Pblm-Mgr">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="60" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="Support-Company-Pblm-Mgr">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="60" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="Target-Resolution-Date">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
