AutoPilot-OA-Problem_Management/concepts/xsd/Solution.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2000/10/XMLSchema" targetNamespace="AutoPilot-OA-Problem_Management" elementFormDefault="qualified">
  <xsd:element name="Solution" />
  <xsd:complexType name="SolutionType">
    <xsd:annotation>
      <xsd:documentation>Represents a solution.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="request-id" type="xsd:integer" />
      <xsd:element name="solution-database-id">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="configuration-item">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="assigned-group">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
	<xsd:element name="assignee">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
	<xsd:element name="solution-status">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="status-reason">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="solution-description">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="255" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
	<xsd:element name="abstract">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="255" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
	<xsd:element name="description">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="255" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
	<xsd:element name="solution-details">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="255" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
	<xsd:element name="support-group-id">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="assigned-support-org">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="company">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
	<xsd:element name="contact-company">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
	<xsd:element name="searchable">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
	<xsd:element name="solution-type">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
	<xsd:element name="organization">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
	<xsd:element name="department">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
	<xsd:element name="site-group">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
	<xsd:element name="site">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
	<xsd:element name="region">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
	<xsd:element name="action">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="assigned-support-company">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="product-cat-tier1">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="product-cat-tier2">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="product-cat-tier3">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="product-name">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="product-model-version">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="manufacturer">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
	<xsd:element name="categorization-tier1">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="categorization-tier2">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="categorization-tier3">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
	<xsd:element name="solution-keyword">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="worklog-details">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="activity-type">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="secure-log">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="view-access">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="details-log">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="activity-date">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="communications-source">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
