AutoPilot-OA-Event_Management/concepts/xsd/Event.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2000/10/XMLSchema" targetNamespace="AutoPilot-OA-Event_Management" elementFormDefault="qualified">
  <xsd:element name="Event" />
  <xsd:complexType name="EventType">
    <xsd:annotation>
      <xsd:documentation>Represents an event, typically used in an EMS system.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="account">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="60" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="acknowledged" type="xsd:integer" />
      <xsd:element name="action-count" type="xsd:integer" />
      <xsd:element name="adapter-host-ip">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="20" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="adapter-host-name">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="agent">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="alert-group">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="60" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="alert-key">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="associated-ticket-id">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="32" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="category">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="60" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="community">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="component-id">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="component-type">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="date-modified">
        <xsd:simpleType>
          <xsd:restriction base="xsd:date">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="duration">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="enterprise-oid">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="60" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="escalation-level" type="xsd:string" />
      <xsd:element name="first-occurrence" type="xsd:date" />
      <xsd:element name="id">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="255" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="journal">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="255" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="last-occurrence" type="xsd:date" />
      <xsd:element name="location">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="60" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="manager">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="32" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="node">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="60" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="node-alias">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="60" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="object">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="object-class">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="object-owner">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="60" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="occurrences">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="60" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="operation">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="60" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="owner-group-id" type="xsd:string" />
      <xsd:element name="owner-id" type="xsd:string" />
      <xsd:element name="propagations">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="20" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="serial" type="xsd:integer" />
      <xsd:element name="service">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="service-impact-alias">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="service-impact-id">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="severity">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Critical" />
            <xsd:enumeration value="Major" />
            <xsd:enumeration value="Minor" />
            <xsd:enumeration value="Warning" />
            <xsd:enumeration value="Indeterminate" />
            <xsd:enumeration value="Clear" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="status">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="summary">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="255" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="varbind-param-name">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="60" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="varbind-param-threshold">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="60" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="varbind-param-type">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="60" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="varbind-param-value">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="60" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
