BMC_BladeLogic-AD-Operations_Manager/concepts/xsd/ConnectionDetails.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="BMC_BladeLogic-AD-Operations_Manager" elementFormDefault="qualified">
  <xsd:simpleType name="invocation-mechanism-type">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="command-line" />
      <xsd:enumeration value="telnet" />
      <xsd:enumeration value="ssh" />
      <xsd:enumeration value="windows-command" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:element name="ConnectionDetails" type="ConnectionDetailsType" />
  <xsd:complexType name="ConnectionDetailsType">
    <xsd:annotation>
      <xsd:documentation>Represents metadata specifying how a command is invoked via a terminal type adapter.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="adapter-name" type="xsd:string" />
      <xsd:element name="role-name" type="xsd:string" />
      <xsd:element name="user-credential-file" type="xsd:string" />
      <xsd:element name="application-server" type="xsd:string" />
      <xsd:element name="invocation-mechanism" type="invocation-mechanism-type" />
      <xsd:element name="hostname" type="xsd:string" />
      <xsd:element name="port" type="xsd:string" />
      <xsd:element name="username" type="xsd:string" />
      <xsd:element name="password" type="xsd:string" />
      <xsd:element name="password-encryption-type" type="xsd:string" />
      <xsd:element name="script-directory" type="xsd:string" />
      <xsd:element name="target" type="xsd:string" />
      <xsd:element name="prompt" type="xsd:string" />
      <xsd:element name="working-dir" type="xsd:string" />
      <xsd:element name="command-dir" type="xsd:string" />
      <xsd:element name="command-encryption-type" type="xsd:string" />
      <xsd:element name="timeout" type="xsd:string" />
      <xsd:element name="connection-name" type="xsd:string" />
      <xsd:element name="terminate-connection" type="xsd:string" />
      <xsd:element name="known-hosts-config" type="xsd:string" />
      <xsd:element name="allow-unknown-hosts" type="xsd:string" />
      <xsd:element name="preferred-pk-algorithm" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
