AutoPilot-OA-Storage_Management/concepts/xsd/Storage.xsd

 <xsd:schema xmlns:xsd="http://www.w3.org/2000/10/XMLSchema" targetNamespace="AutoPilot-OA-Storage_Management" elementFormDefault="qualified">

  <xsd:element name="Storage" />

  <xsd:complexType name="StorageType">

    <xsd:annotation>

      <xsd:documentation>Represents a storage.</xsd:documentation>

    </xsd:annotation>

    <xsd:sequence>

      <xsd:element name="cifs-domain">

        <xsd:simpleType>

          <xsd:restriction base="xsd:string">

            <maxLength value="30" />

          </xsd:restriction>

        </xsd:simpleType>

      </xsd:element>

  <xsd:element name="cifs-username">

        <xsd:simpleType>

          <xsd:restriction base="xsd:string">

            <maxLength value="30" />

          </xsd:restriction>

        </xsd:simpleType>

      </xsd:element>

<xsd:element name="comment-field-name-or-id">

        <xsd:simpleType>

          <xsd:restriction base="xsd:string">

            <maxLength value="30" />

          </xsd:restriction>

        </xsd:simpleType>

      </xsd:element>

<xsd:element name="comment-value">

        <xsd:simpleType>

          <xsd:restriction base="xsd:string">

            <maxLength value="30" />

          </xsd:restriction>

        </xsd:simpleType>

      </xsd:element>

<xsd:element name="comments">

        <xsd:simpleType>

          <xsd:restriction base="xsd:string">

            <maxLength value="30" />

          </xsd:restriction>

        </xsd:simpleType>

      </xsd:element>

<xsd:element name="create-new-vfiler">

        <xsd:simpleType>

          <xsd:restriction base="xsd:string">

            <maxLength value="30" />

          </xsd:restriction>

        </xsd:simpleType>

      </xsd:element>

<xsd:element name="dataset-cifs-share-permission">

        <xsd:simpleType>

          <xsd:restriction base="xsd:string">

            <maxLength value="30" />

          </xsd:restriction>

        </xsd:simpleType>

      </xsd:element>

<xsd:element name="dataset-export-info">

        <xsd:simpleType>

          <xsd:restriction base="xsd:string">

            <maxLength value="30" />

          </xsd:restriction>

        </xsd:simpleType>

      </xsd:element>

<xsd:element name="dataset-export-protocol">

        <xsd:simpleType>

          <xsd:restriction base="xsd:string">

            <maxLength value="30" />

          </xsd:restriction>

        </xsd:simpleType>

      </xsd:element>

<xsd:element name="dataset-id">

        <xsd:simpleType>

          <xsd:restriction base="xsd:string">

            <maxLength value="30" />

          </xsd:restriction>

        </xsd:simpleType>

      </xsd:element>

<xsd:element name="dataset-lun-mapping-info">

        <xsd:simpleType>

          <xsd:restriction base="xsd:string">

            <maxLength value="30" />

          </xsd:restriction>

        </xsd:simpleType>

      </xsd:element>

<xsd:element name="dataset-name">

        <xsd:simpleType>

          <xsd:restriction base="xsd:string">

            <maxLength value="30" />

          </xsd:restriction>

        </xsd:simpleType>

      </xsd:element>

<xsd:element name="dataset-nfs-export-setting">

        <xsd:simpleType>

          <xsd:restriction base="xsd:string">

            <maxLength value="30" />

          </xsd:restriction>

        </xsd:simpleType>

      </xsd:element>

<xsd:element name="description">

        <xsd:simpleType>

          <xsd:restriction base="xsd:string">

            <maxLength value="30" />

          </xsd:restriction>

        </xsd:simpleType>

      </xsd:element>

<xsd:element name="disable-setuid">

        <xsd:simpleType>

          <xsd:restriction base="xsd:string">

            <maxLength value="30" />

          </xsd:restriction>

        </xsd:simpleType>

      </xsd:element>

<xsd:element name="dp-node">

        <xsd:simpleType>

          <xsd:restriction base="xsd:string">

            <maxLength value="30" />

          </xsd:restriction>

        </xsd:simpleType>

      </xsd:element>

<xsd:element name="dry-run">

        <xsd:simpleType>

          <xsd:restriction base="xsd:string">

            <maxLength value="30" />

          </xsd:restriction>

        </xsd:simpleType>

      </xsd:element>

<xsd:element name="filer">

        <xsd:simpleType>

          <xsd:restriction base="xsd:string">

            <maxLength value="30" />

          </xsd:restriction>

        </xsd:simpleType>

      </xsd:element>

<xsd:element name="lun-mapping-initiator-hostname">

        <xsd:simpleType>

          <xsd:restriction base="xsd:string">

            <maxLength value="30" />

          </xsd:restriction>

        </xsd:simpleType>

      </xsd:element>

<xsd:element name="igroup-os-type">

        <xsd:simpleType>

          <xsd:restriction base="xsd:string">

            <maxLength value="30" />

          </xsd:restriction>

        </xsd:simpleType>

      </xsd:element>

<xsd:element name="include-dry-run-reason-details">

        <xsd:simpleType>

          <xsd:restriction base="xsd:string">

            <maxLength value="30" />

          </xsd:restriction>

        </xsd:simpleType>

      </xsd:element>

<xsd:element name="initial-snapshot-space">

        <xsd:simpleType>

          <xsd:restriction base="xsd:string">

            <maxLength value="30" />

          </xsd:restriction>

        </xsd:simpleType>

      </xsd:element>

<xsd:element name="lun-mapping-initiator-id">

        <xsd:simpleType>

          <xsd:restriction base="xsd:string">

            <maxLength value="30" />

          </xsd:restriction>

        </xsd:simpleType>

      </xsd:element>

<xsd:element name="is-readonly-for-all-hosts">

        <xsd:simpleType>

          <xsd:restriction base="xsd:string">

            <maxLength value="30" />

          </xsd:restriction>

        </xsd:simpleType>

      </xsd:element>

<xsd:element name="is-readwrite-for-all-hosts">

        <xsd:simpleType>

          <xsd:restriction base="xsd:string">

            <maxLength value="30" />

          </xsd:restriction>

        </xsd:simpleType>

      </xsd:element>

<xsd:element name="lun-mapping-initiators">

        <xsd:simpleType>

          <xsd:restriction base="xsd:string">

            <maxLength value="30" />

          </xsd:restriction>

        </xsd:simpleType>

      </xsd:element>

<xsd:element name="maximum-data-size">

        <xsd:simpleType>

          <xsd:restriction base="xsd:string">

            <maxLength value="30" />

          </xsd:restriction>

        </xsd:simpleType>

      </xsd:element>

<xsd:element name="maximum-snapshot-space">

        <xsd:simpleType>

          <xsd:restriction base="xsd:string">

            <maxLength value="30" />

          </xsd:restriction>

        </xsd:simpleType>

      </xsd:element>

<xsd:element name="name">

        <xsd:simpleType>

          <xsd:restriction base="xsd:string">

            <maxLength value="30" />

          </xsd:restriction>

        </xsd:simpleType>

      </xsd:element>

<xsd:element name="new-size">

        <xsd:simpleType>

          <xsd:restriction base="xsd:string">

            <maxLength value="30" />

          </xsd:restriction>

        </xsd:simpleType>

      </xsd:element>

<xsd:element name="nfs-export-name">

        <xsd:simpleType>

          <xsd:restriction base="xsd:string">

            <maxLength value="30" />

          </xsd:restriction>

        </xsd:simpleType>

      </xsd:element>

<xsd:element name="nfs-export-ro-host">

        <xsd:simpleType>

          <xsd:restriction base="xsd:string">

            <maxLength value="30" />

          </xsd:restriction>

        </xsd:simpleType>

      </xsd:element>

<xsd:element name="nfs-export-ro-host-is-an-exception">

        <xsd:simpleType>

          <xsd:restriction base="xsd:string">

            <maxLength value="30" />

          </xsd:restriction>

        </xsd:simpleType>

      </xsd:element>

<xsd:element name="nfs-export-ro-hostname">

        <xsd:simpleType>

          <xsd:restriction base="xsd:string">

            <maxLength value="30" />

          </xsd:restriction>

        </xsd:simpleType>

      </xsd:element>

<xsd:element name="nfs-export-ro-hosts">

        <xsd:simpleType>

          <xsd:restriction base="xsd:string">

            <maxLength value="30" />

          </xsd:restriction>

        </xsd:simpleType>

      </xsd:element>

<xsd:element name="nfs-export-root-host">

        <xsd:simpleType>

          <xsd:restriction base="xsd:string">

            <maxLength value="30" />

          </xsd:restriction>

        </xsd:simpleType>

      </xsd:element>

<xsd:element name="nfs-export-root-host-is-an-exception">

        <xsd:simpleType>

          <xsd:restriction base="xsd:string">

            <maxLength value="30" />

          </xsd:restriction>

        </xsd:simpleType>

      </xsd:element>

<xsd:element name="nfs-export-root-hostname">

        <xsd:simpleType>

          <xsd:restriction base="xsd:string">

            <maxLength value="30" />

          </xsd:restriction>

        </xsd:simpleType>

      </xsd:element>

<xsd:element name="nfs-export-rw-hosts-hostname">

        <xsd:simpleType>

          <xsd:restriction base="xsd:string">

            <maxLength value="30" />

          </xsd:restriction>

        </xsd:simpleType>

      </xsd:element>

<xsd:element name="nfs-export-rw-hosts-is-an-exception">

        <xsd:simpleType>

          <xsd:restriction base="xsd:string">

            <maxLength value="30" />

          </xsd:restriction>

        </xsd:simpleType>

      </xsd:element>

<xsd:element name="nfs-protocol-version">

        <xsd:simpleType>

          <xsd:restriction base="xsd:string">

            <maxLength value="30" />

          </xsd:restriction>

        </xsd:simpleType>

      </xsd:element>

<xsd:element name="nfs-security-flavor">

        <xsd:simpleType>

          <xsd:restriction base="xsd:string">

            <maxLength value="30" />

          </xsd:restriction>

        </xsd:simpleType>

      </xsd:element>

<xsd:element name="online-migration">

        <xsd:simpleType>

          <xsd:restriction base="xsd:string">

            <maxLength value="30" />

          </xsd:restriction>

        </xsd:simpleType>

      </xsd:element>

<xsd:element name="provision-member-comment">

        <xsd:simpleType>

          <xsd:restriction base="xsd:string">

            <maxLength value="30" />

          </xsd:restriction>

        </xsd:simpleType>

      </xsd:element>

      <xsd:element name="provisioning-policy">

        <xsd:simpleType>

          <xsd:restriction base="xsd:string">

            <maxLength value="30" />

          </xsd:restriction>

        </xsd:simpleType>

      </xsd:element>

      <xsd:element name="protection-policy">

        <xsd:simpleType>

          <xsd:restriction base="xsd:string">

            <maxLength value="30" />

          </xsd:restriction>

        </xsd:simpleType>

      </xsd:element>

<xsd:element name="resourcepool">

        <xsd:simpleType>

          <xsd:restriction base="xsd:string">

            <maxLength value="30" />

          </xsd:restriction>

        </xsd:simpleType>

      </xsd:element>

<xsd:element name="size">

        <xsd:simpleType>

          <xsd:restriction base="xsd:string">

            <maxLength value="30" />

          </xsd:restriction>

        </xsd:simpleType>

      </xsd:element>

<xsd:element name="storage-id">

        <xsd:simpleType>

          <xsd:restriction base="xsd:string">

            <maxLength value="30" />

          </xsd:restriction>

        </xsd:simpleType>

      </xsd:element>

      <xsd:element name="storage-service">

        <xsd:simpleType>

          <xsd:restriction base="xsd:string">

            <maxLength value="30" />

          </xsd:restriction>

        </xsd:simpleType>

      </xsd:element>

<xsd:element name="target">

        <xsd:simpleType>

          <xsd:restriction base="xsd:string">

            <maxLength value="30" />

          </xsd:restriction>

        </xsd:simpleType>

      </xsd:element>

<xsd:element name="vfiler-name-or-id">

        <xsd:simpleType>

          <xsd:restriction base="xsd:string">

            <maxLength value="30" />

          </xsd:restriction>

        </xsd:simpleType>

      </xsd:element>

<!--          Start of VMware Elements          -->

<xsd:element name="esx-host-system">

        <xsd:simpleType>

          <xsd:restriction base="xsd:string">

            <maxLength value="30" />

          </xsd:restriction>

        </xsd:simpleType>

      </xsd:element>

<xsd:element name="storage-host-system">

        <xsd:simpleType>

          <xsd:restriction base="xsd:string">

            <maxLength value="30" />

          </xsd:restriction>

        </xsd:simpleType>

      </xsd:element>

<xsd:element name="storage-path">

        <xsd:simpleType>

          <xsd:restriction base="xsd:string">

            <maxLength value="30" />

          </xsd:restriction>

        </xsd:simpleType>

      </xsd:element>

<xsd:element name="local-path">

        <xsd:simpleType>

          <xsd:restriction base="xsd:string">

            <maxLength value="30" />

          </xsd:restriction>

        </xsd:simpleType>

      </xsd:element>

<xsd:element name="access-mode">

        <xsd:simpleType>

          <xsd:restriction base="xsd:string">

            <maxLength value="30" />

          </xsd:restriction>

        </xsd:simpleType>

      </xsd:element>  

<!--           End of VMware Elements          -->    

  </xsd:sequence>

 </xsd:complexType>

</xsd:schema>

