AutoPilot-OA-Work_Order_Management/concepts/xsd/WorkOrder.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2000/10/XMLSchema" targetNamespace="AutoPilot-OA-Work_Order_Management" elementFormDefault="qualified">
  <xsd:element name="WorkOrder" />
  <xsd:complexType name="WorkOrderType">
    <xsd:annotation>
      <xsd:documentation>Represents a Work Order.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="request-id" type="xsd:integer" />
      <xsd:element name="action">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
	<xsd:element name="actual-end-date">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
	<xsd:element name="actual-start-date">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="address">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="assigned-to">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
	<xsd:element name="assignee-support-company">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
	<xsd:element name="assignee-support-group-name">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
	<xsd:element name="assignee-support-organization">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>

      <xsd:element name="attachment-1">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="attachment-2">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="attachment-3">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="attachment">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="categorization-tier-1">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="categorization-tier-2">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="categorization-tier-3">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
     <xsd:element name="ci-name">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="clientlocale">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="command">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="company">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
       <xsd:element name="contact-sensitivity">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="create-date">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="created-from-flag">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="custom-cfg-form-instanceid">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
	<xsd:element name="customer-company">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="customer-department">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
	<xsd:element name="customer-person-id">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="customer-first-name">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
	<xsd:element name="customer-fullname">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
 	<xsd:element name="customer-last-name">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
 	<xsd:element name="customer-organization">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
	<xsd:element name="customer-phone-number">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="customer-record-instanceid">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="dataset-id">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="date">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="department">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="description">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="details">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
	<xsd:element name="detailed-description">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="email">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="first-name">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="headline">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="instance-id">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="last-modified-by">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="last-modified-date">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="last-name">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="location-company">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="locked">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="lookup-keyword">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
	<xsd:element name="manager-support-company">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="manager-support-group-name">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="manager-support-organization">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="manufacturer">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="middle-name">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="model">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
	<xsd:element name="organization">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="person-id">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="phone-number">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="priority">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="product-cat-tier-1">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="product-cat-tier-2">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="product-cat-tier-3">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
 	<xsd:element name="product-model-version">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="product-name">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="reconciliation-identity">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="region">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="request-assignee">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="request-manager-company">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="request-manager">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="requested-by-person-id">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="requested-for">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="requester-support-organization">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="scheduled-end-date">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
	<xsd:element name="scheduled-start-date">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="schema-name">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="secure-work-log">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="set-assignee-using">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="set-manager-using">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="site-group">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="site">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="source">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="sr-id">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="sr-instanceid">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="srm-saoiguid">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="srms-registry-instanceid">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="sr-workinfo-type">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="status-reason">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="status">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="status-history">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="status-reason-string">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="status-string">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="summary">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="support-company">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="support-group-name">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="support-organization">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="template-id">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="view-access">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="vip">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
	<xsd:element name="worklog-date">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
	<xsd:element name="worklog-details">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
	<xsd:element name="worklog-submitter">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
	<xsd:element name="worklog-summary">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
	<xsd:element name="worklog-type">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="work-order-template-instance-id">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="work-order-template-used">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="work-order-type">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="work-order-entryid">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="work-order-id">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="association-id">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <maxLength value="30" />
                </xsd:restriction>
              </xsd:simpleType>
      </xsd:element>
      <xsd:element name="entry1-form-name">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <maxLength value="30" />
                </xsd:restriction>
              </xsd:simpleType>
      </xsd:element>
      <xsd:element name="entry1-request-id">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <maxLength value="30" />
                </xsd:restriction>
              </xsd:simpleType>
      </xsd:element>
      <xsd:element name="entry1-request-type">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <maxLength value="30" />
                </xsd:restriction>
              </xsd:simpleType>
      </xsd:element>
      <xsd:element name="entry1-request-description">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <maxLength value="30" />
                </xsd:restriction>
              </xsd:simpleType>
      </xsd:element>
      <xsd:element name="entry1-lookup-keyword">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <maxLength value="30" />
                </xsd:restriction>
              </xsd:simpleType>
      </xsd:element>
      <xsd:element name="entry1-start-date">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <maxLength value="30" />
                </xsd:restriction>
              </xsd:simpleType>
      </xsd:element>
      <xsd:element name="entry1-end-date">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <maxLength value="30" />
                </xsd:restriction>
              </xsd:simpleType>
      </xsd:element>
      <xsd:element name="entry1-dataset-id">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <maxLength value="30" />
                </xsd:restriction>
              </xsd:simpleType>
      </xsd:element>
      <xsd:element name="entry1-association-type">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <maxLength value="30" />
                </xsd:restriction>
              </xsd:simpleType>
      </xsd:element>
      <xsd:element name="entry2-form-name">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <maxLength value="30" />
                </xsd:restriction>
              </xsd:simpleType>
      </xsd:element>
      <xsd:element name="entry2-request-id">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <maxLength value="30" />
                </xsd:restriction>
              </xsd:simpleType>
      </xsd:element>
           <xsd:element name="entry2-association-type">
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:string">
                        <maxLength value="30" />
                      </xsd:restriction>
                    </xsd:simpleType>
      </xsd:element>
           <xsd:element name="association-status">
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:string">
                        <maxLength value="30" />
                      </xsd:restriction>
                    </xsd:simpleType>
      </xsd:element>

      </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
