Closed_Loop-SA-Change_Management/concepts/xsd/Notification.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="Closed_Loop-SA-Change_Management" elementFormDefault="qualified">
<xsd:element name="Notification" type="NotificationType" />
  <xsd:complexType name="NotificationType">
    <xsd:annotation>
      <xsd:documentation>Represents metadata specifying an SNMP Notification</xsd:documentation>
    </xsd:annotation>    
     <xsd:sequence>
	<xsd:element name="host" type="xsd:string" />
	<xsd:element name="sysuptime" type="xsd:string" />
      <xsd:element name="enterprise" type="xsd:string" />
      <xsd:element name="generic-trap" type="xsd:string" />
      <xsd:element name="specific-trap" type="xsd:string" />
	<xsd:element name="notification-type" type="xsd:string" />
      <xsd:element name="change-id" type="xsd:string" />
      <xsd:element name="condition-trace" type="xsd:string" />
      <xsd:element name="annotation" type="xsd:string" />
      <xsd:element name="trigger-device" type="xsd:string" />
      <xsd:element name="trigger-event-description" type="xsd:string" />
      <xsd:element name="server-url" type="xsd:string" />
      <xsd:element name="task-id" type="xsd:string" />
      <xsd:element name="trigger-device-instance-id" type="xsd:string" />
     </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
