AutoPilot-OA-Change_Management/concepts/xsd/Change.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2000/10/XMLSchema" targetNamespace="AutoPilot-OA-Change_Management" elementFormDefault="qualified">
  <xsd:element name="Change" />
  <xsd:complexType name="ChangeType">
    <xsd:annotation>
      <xsd:documentation>Represents a change.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="request-id" type="xsd:integer" />
      <xsd:element name="change-id">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="configuration-item">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="submitter">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
	<xsd:element name="first-name">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="last-name">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="status">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="change-type">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="change-plan">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="4000" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="change-timing">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="risk-level">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="location-company">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="detailed-description">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="255" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="environment">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="reason-for-change">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="impact">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="urgency">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="company">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="description">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="255" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="priority">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="action">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
	  <xsd:element name="lead-time">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="performance-rating">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
	  <xsd:element name="business-justification">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
	  <xsd:element name="product-cat-tier1">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
	  <xsd:element name="product-cat-tier2">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
	  <xsd:element name="product-cat-tier3">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
	  <xsd:element name="product-name">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
	  <xsd:element name="product-model-version2">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
	  <xsd:element name="manufacturer2">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
	  <xsd:element name="categorization-tier1">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
	  <xsd:element name="categorization-tier2">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
	  <xsd:element name="categorization-tier3">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
        <xsd:element name="submit-date">
          <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
 	  <xsd:element name="requested-start-date">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
	  <xsd:element name="requested-end-date">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
	  <xsd:element name="scheduled-start-date">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
	  <xsd:element name="scheduled-end-date">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
	  <xsd:element name="actual-start-date">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
	  <xsd:element name="actual-end-date">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
	  <xsd:element name="review-date">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
	  <xsd:element name="closed-date">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
	  <xsd:element name="in-production">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
	  <xsd:element name="support-company">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
	  <xsd:element name="support-organization">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
	  <xsd:element name="support-group-name">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
	  <xsd:element name="change-manager">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
	  <xsd:element name="chg-implementer-support-com">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
	  <xsd:element name="chg-implementer-support-org">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
	  <xsd:element name="chg-implementer-support-group">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
	  <xsd:element name="change-implementer">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
	  <xsd:element name="chg-assignee-support-com">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
	  <xsd:element name="chg-assignee-support-org">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
	  <xsd:element name="chg-assignee-support-group">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
	  <xsd:element name="chg-assignee">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="assignee-groups">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
	  <xsd:element name="lookup-keyword">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
	  <xsd:element name="worklog-details">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
	  <xsd:element name="activity-type">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
	  <xsd:element name="secure-work-log">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
	  <xsd:element name="view-access">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
	  <xsd:element name="details-log">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
	  <xsd:element name="activity-date">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
	  <xsd:element name="communication-source">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
	  <xsd:element name="phone-number">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
	  <xsd:element name="organization">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
	  <xsd:element name="department">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
	  <xsd:element name="support-group-name2">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
	  <xsd:element name="requester-login-id">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
	  <xsd:element name="requester-login-name">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="255" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
	  <xsd:element name="status-reason">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
	  <xsd:element name="timing-reason">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
	  <xsd:element name="support-organization2">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
	  <xsd:element name="region">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
	  <xsd:element name="site-group">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
	  <xsd:element name="site">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
	  <xsd:element name="chg-location-address">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
	  <xsd:element name="approval-phase-name">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
	  <xsd:element name="earliest-start-date">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="customer-first-name">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="customer-last-name">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="customer-organization">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="customer-phone-number">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="customer-department">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="customer-company">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
	<xsd:element name="template-id">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
	<xsd:element name="std-change-producer-version">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
	<xsd:element name="class-id">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
	<xsd:element name="dataset-id">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
	<xsd:element name="ci-name">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
	<xsd:element name="reconciliation-identity">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
	<xsd:element name="last-modified-date">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
	<xsd:element name="association-id" type="xsd:string" />
	<xsd:element name="entry1-form-name" type="xsd:string" />
      <xsd:element name="entry1-request-id" type="xsd:string" />
      <xsd:element name="entry1-request-type" type="xsd:string" />
      <xsd:element name="entry1-request-description" type="xsd:string" />
      <xsd:element name="entry1-lookup-keyword" type="xsd:string" />
      <xsd:element name="entry1-start-date" type="xsd:string" />
      <xsd:element name="entry1-end-date" type="xsd:string" />
      <xsd:element name="entry1-dataset-id" type="xsd:string" />
      <xsd:element name="entry1-association-type" type="xsd:string" />
      <xsd:element name="entry2-form-name" type="xsd:string" />
      <xsd:element name="entry2-request-id" type="xsd:string" />
      <xsd:element name="entry2-association-type" type="xsd:string" />
      <xsd:element name="association-status" type="xsd:string" />
	<xsd:element name="backout-duration">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
	<xsd:element name="category">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
	<xsd:element name="change-open">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
	<xsd:element name="completion-code">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
	<xsd:element name="current-phase">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
	<xsd:element name="foreign-id">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
	<xsd:element name="misc-array1-line1">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
	<xsd:element name="misc-array1-line2">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
	<xsd:element name="misc-array2-line1">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
	<xsd:element name="misc-array2-line2">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
	<xsd:element name="slm-id">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
	<xsd:element name="actual-cost">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
	<xsd:element name="actual-price">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
	<xsd:element name="backout-method">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
	<xsd:element name="closing-comment-line1">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="255" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
	<xsd:element name="closing-comment-line2">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="255" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
	<xsd:element name="estimate-description">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="255" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
	<xsd:element name="estimate-price">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
	<xsd:element name="misc1">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="255" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
	<xsd:element name="misc2">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="255" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
	<xsd:element name="outage-start">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
	<xsd:element name="outage-end">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
	<xsd:element name="scheduled-outage-start">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
	<xsd:element name="scheduled-outage-end">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
	<xsd:element name="actual-outage-start">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
	<xsd:element name="actual-outage-end">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
	<xsd:element name="rfctype2">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
	  <xsd:element name="closed-by">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
	<xsd:element name="justification-line2">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="255" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
	<xsd:element name="description-line2">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="255" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
	<xsd:element name="description-line3">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="255" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
	<xsd:element name="description-line4">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="255" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
