AutoPilot-OA-Virtual_Server_Management/concepts/xsd/Virtual-Server.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2000/10/XMLSchema" targetNamespace="AutoPilot-OA-Virtual_Server_Management" elementFormDefault="qualified">
  <xsd:element name="Virtual-Server" />
<xsd:complexType name="Virtual-ServerType">
<xsd:annotation>
      <xsd:documentation>Represents a Virtual Server.</xsd:documentation>
</xsd:annotation>
    <xsd:sequence>
      <xsd:element name="ip-address">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <maxLength value="30"/>
              </xsd:restriction>
            </xsd:simpleType>
      </xsd:element>
      <xsd:element name="mac-address">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="power-status">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="virtual-center">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="datacenter">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="datastore">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="host-name">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="resource-pool">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="disk-info">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <maxLength value="30"/>
                </xsd:restriction>
              </xsd:simpleType>
      </xsd:element>
      <xsd:element name="expiry-date">
                <xsd:simpleType>
                   <xsd:restriction base="xsd:string">
                    <maxLength value="30"/>
                 </xsd:restriction>
                </xsd:simpleType>
      </xsd:element>
      <xsd:element name="package-id">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                              <maxLength value="30"/>
                            </xsd:restriction>
                          </xsd:simpleType>
                         </xsd:element>
      <xsd:element name="destination">
                                <xsd:simpleType>
                                  <xsd:restriction base="xsd:string">
                                    <maxLength value="30"/>
                                  </xsd:restriction>
                                </xsd:simpleType>
                         </xsd:element>
      <xsd:element name="srm-id">
			  <xsd:simpleType>
			    <xsd:restriction base="xsd:string">
			      <maxLength value="30"/>
			    </xsd:restriction>
			 </xsd:simpleType>
                         </xsd:element>
      <xsd:element name="change-id">
			                           <xsd:simpleType>
			                             <xsd:restriction base="xsd:string">
			                               <maxLength value="30"/>
			                             </xsd:restriction>
			                           </xsd:simpleType>
                         </xsd:element>
      <xsd:element name="task-id">
			                           <xsd:simpleType>
			                             <xsd:restriction base="xsd:string">
			                               <maxLength value="30"/>
			                             </xsd:restriction>
			                           </xsd:simpleType>
                         </xsd:element>
      <xsd:element name="owner">
			                           <xsd:simpleType>
			                             <xsd:restriction base="xsd:string">
			                               <maxLength value="30"/>
			                             </xsd:restriction>
			                           </xsd:simpleType>
                         </xsd:element>
      <xsd:element name="network-info">
			                           <xsd:simpleType>
			                             <xsd:restriction base="xsd:string">
			                               <maxLength value="30"/>
			                             </xsd:restriction>
			                           </xsd:simpleType>
                         </xsd:element>
      <xsd:element name="boot-image-id">
			                           <xsd:simpleType>
			                             <xsd:restriction base="xsd:string">
			                               <maxLength value="30"/>
			                             </xsd:restriction>
			                           </xsd:simpleType>
                         </xsd:element>
      <xsd:element name="approval-type">
			                           <xsd:simpleType>
			                             <xsd:restriction base="xsd:string">
			                               <maxLength value="30"/>
			                             </xsd:restriction>
			                           </xsd:simpleType>
                         </xsd:element>
      <xsd:element name="change-type">
			                           <xsd:simpleType>
			                             <xsd:restriction base="xsd:string">
			                               <maxLength value="30"/>
			                             </xsd:restriction>
			                           </xsd:simpleType>
                         </xsd:element>
      <xsd:element name="description">
			                           <xsd:simpleType>
			                             <xsd:restriction base="xsd:string">
			                               <maxLength value="30"/>
			                             </xsd:restriction>
			                           </xsd:simpleType>
                         </xsd:element>
      <xsd:element name="impact-id">
			                           <xsd:simpleType>
			                             <xsd:restriction base="xsd:string">
			                               <maxLength value="30"/>
			                             </xsd:restriction>
			                           </xsd:simpleType>
                         </xsd:element>
      <xsd:element name="risk-level">
			                           <xsd:simpleType>
			                             <xsd:restriction base="xsd:string">
			                               <maxLength value="30"/>
			                             </xsd:restriction>
			                           </xsd:simpleType>
                         </xsd:element>
      <xsd:element name="property-name">
			                           <xsd:simpleType>
			                             <xsd:restriction base="xsd:string">
			                               <maxLength value="30"/>
			                             </xsd:restriction>
			                           </xsd:simpleType>
                                           </xsd:element>
      <xsd:element name="approval-id">
			                           <xsd:simpleType>
			                             <xsd:restriction base="xsd:string">
			                               <maxLength value="30"/>
			                             </xsd:restriction>
			                           </xsd:simpleType>
                                           </xsd:element>
      <xsd:element name="package-key">
			                           <xsd:simpleType>
			                             <xsd:restriction base="xsd:string">
			                               <maxLength value="30"/>
			                             </xsd:restriction>
			                           </xsd:simpleType>
                         </xsd:element>
      <xsd:element name="job-key">
			                           <xsd:simpleType>
			                             <xsd:restriction base="xsd:string">
			                               <maxLength value="30"/>
			                             </xsd:restriction>
			                           </xsd:simpleType>
                         </xsd:element>
      <xsd:element name="template-id">
			                           <xsd:simpleType>
			                             <xsd:restriction base="xsd:string">
			                               <maxLength value="30"/>
			                             </xsd:restriction>
			                           </xsd:simpleType>
                         </xsd:element>
      <xsd:element name="job-name">
			                           <xsd:simpleType>
			                             <xsd:restriction base="xsd:string">
			                               <maxLength value="30"/>
			                             </xsd:restriction>
			                           </xsd:simpleType>
                         </xsd:element>
      <xsd:element name="job-folder-id">
			                           <xsd:simpleType>
			                             <xsd:restriction base="xsd:string">
			                               <maxLength value="30"/>
			                             </xsd:restriction>
			                           </xsd:simpleType>
                          </xsd:element>
      <xsd:element name="vm-details">
			                           <xsd:simpleType>
			                             <xsd:restriction base="xsd:string">
			                               <maxLength value="30"/>
			                             </xsd:restriction>
			                           </xsd:simpleType>
                         </xsd:element>
      <xsd:element name="file-adapter-name">
			                           <xsd:simpleType>
			                             <xsd:restriction base="xsd:string">
			                               <maxLength value="30"/>
			                             </xsd:restriction>
			                           </xsd:simpleType>
                          </xsd:element>   
      <xsd:element name="timeout">
			                           <xsd:simpleType>
			                             <xsd:restriction base="xsd:string">
			                               <maxLength value="30"/>
			                             </xsd:restriction>
			                           </xsd:simpleType>
                         </xsd:element>
      <xsd:element name="user-role">
			                           <xsd:simpleType>
			                             <xsd:restriction base="xsd:string">
			                               <maxLength value="30"/>
			                             </xsd:restriction>
			                           </xsd:simpleType>
                         </xsd:element>  
      <xsd:element name="etKey">
			 			    <xsd:simpleType>
			 			      <xsd:restriction base="xsd:string">
			 			        <maxLength value="30"/>
			 			      </xsd:restriction>
			 			    </xsd:simpleType>
                          </xsd:element>   
      <xsd:element name="vm-name">
                   <xsd:simpleType>
                       <xsd:restriction base="xsd:string">
			  <maxLength value="30"/>
			    </xsd:restriction>
			  </xsd:simpleType>
                 </xsd:element>        
                 
      <xsd:element name="cluster-compute-resource">
                   <xsd:simpleType>
                       <xsd:restriction base="xsd:string">
			  <maxLength value="30"/>
			    </xsd:restriction>
			  </xsd:simpleType>
                 </xsd:element>  
      <xsd:element name="memory">
		      <xsd:simpleType>
		         <xsd:restriction base="xsd:string">
		           <maxLength value="30"/>
		         </xsd:restriction>
                     </xsd:simpleType>
                 </xsd:element>  
      <xsd:element name="no-of-cpu">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <maxLength value="30"/>
                </xsd:restriction>
              </xsd:simpleType>
      </xsd:element>
      <xsd:element name="guest-os">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <maxLength value="30"/>
                </xsd:restriction>
              </xsd:simpleType>
      </xsd:element>
      <xsd:element name="snapshot-name">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <maxLength value="30"/>
                </xsd:restriction>
              </xsd:simpleType>
      </xsd:element>
      <xsd:element name="remove-children">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <maxLength value="30"/>
                </xsd:restriction>
              </xsd:simpleType>
      </xsd:element>
      <xsd:element name="folder">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <maxLength value="30"/>
                </xsd:restriction>
              </xsd:simpleType>
      </xsd:element>
                 
                 
                 
                 
                 
                 
                 
                 
                 
                 
                 
                 
                 
                 
                 
                 
                 
                 
                 
                 
                 
                 
                 
                 
                 
                 
                 
                 
                 
                 
                 
                 
                 
                 
                 
                 
                 
      </xsd:sequence>
   </xsd:complexType>
  </xsd:schema>